/* .learn{
    background-image: url(../../assets/bgmen.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
/* .learn1{
    background-color: rgba(0, 0, 0, 0.562);
    backdrop-filter: blur(2px);
} */