@keyframes zoomBackground {
    0%, 100% {
      background-size: 100% 100%;
    }
    50% {
      background-size: 150% 110%;
    }
    75%{
        background-size: 110% 150%;
    }
  }
  
  .zoom-animation {
    animation: zoomBackground 8s infinite ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  