@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  background-color: black;
} */

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #73D1FF;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.hero-section {
    position: relative;
  }
  
  .hero-section h1:hover ~ .background-image {
    filter: blur(5px);
  }

  @keyframes moveBackground {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-bg-image {
    animation: moveBackground 10s ease infinite;
  }
  
  @keyframes spinX {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(360deg);
    }
  }
  
  .spin-x {
    animation: spinX 2s linear infinite;
  }
  
.text-border {
  text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, 2px -2px 0px #000, -2px 2px 0px #000;
}
.text-border-bottom {
  position: relative;
  display: inline-block;
}

.text-border-bottom {
  position: relative;
  display: inline-block;
}

.text-border-bottom::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 30%;
  height: 3px; /* Adjust the height as needed */
  background: linear-gradient(to right, transparent, #73D1FF, transparent); /* Adjust the gradient colors as needed */
}

@keyframes bounceMedium {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.gradient-text {
  background: linear-gradient(to top, transparent, #73D1FF, transparent);
  -webkit-background-clip: text;
  color: transparent;
}

.bounceMedium {
  animation: bounceMedium 3s infinite;
}

@keyframes slow-ping {
  0% {
      transform: scale(1);
      /* opacity: 1; */
  }
  50% {
    transform: scale(1.2);
    /* opacity: 0; */
  }
  100% {
    transform: scale(1);
    /* opacity: 0; */
}
}

.animate-slow-ping {
  animation: slow-ping 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes wave {
  0% { transform: rotate(0deg) translateY(0); }
  20% { transform: rotate(4deg) translateY(-3px); }
  40% { transform: rotate(-2deg) translateY(3px); }
  60% { transform: rotate(2deg) translateY(-3px); }
  80% { transform: rotate(-4deg) translateY(3px); }
  100% { transform: rotate(0deg) translateY(0); }
}

.waving span {
  display: inline-block;
  animation: wave 3s infinite;
  transform-origin: bottom left;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wave2 {
  0% { transform:  translateY(0); }
  20% { transform:  translateY(-3px); }
  40% { transform:  translateY(3px); }
  60% { transform:  translateY(-3px); }
  80% { transform:  translateY(3px); }
  100% { transform:  translateY(0); }
}

.waving2 span {
  display: inline-block;
  animation: wave2 3s infinite;
  transform-origin: bottom top;
  animation-delay: calc(0.1s * var(--i));
}








